@import "variables.css";

/*--------------------------------------------------------------
Normalizing Styles
--------------------------------------------------------------*/
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    border-radius: var(--border-radius);
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body, button {
    font-family: var(--font-family);
}

h1 {
    font-size: var(--font-size-default);
}
footer {
    font-size: var(--font-size-small);
}

#prettifyButton {
    text-transform: uppercase;
    letter-spacing: var(--pad-extra-small);
    text-decoration-style: solid;
}

/*--------------------------------------------------------------
Colour
--------------------------------------------------------------*/
body {
    background-color: var(--colour-white);
    color: var(--colour-default);
}

.input-area {
    background-color: var(--colour-extra-light);
}

#input {
    background-color: var(--colour-extra-light);
    color: var(--colour-dark);
    border: 2px solid var(--colour-light);
}

#prettifyButton {
    background-color: var(--colour-light);
    color: var(--colour-dark);

}

.output-area {
    background-color: var(--colour-light);
    border: 2px solid var(--colour-dark);
}

pre {
    color: var(--colour-extra-extra-dark);
}

/*--------------------------------------------------------------
Layout and Component Styles
--------------------------------------------------------------*/
body {
    max-width: 960px;
    padding: var(--pad-small) var(--pad-extra-large);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 80vh 8vh;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--pad-extra-large);
    justify-content: center;
}

.input-area {
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--pad-extra-large);
    gap: var(--pad-medium);
    align-self: start;
}

.buttonAndToggle {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--pad-medium);
}

#input {
    height: 10vh;
    overflow: scroll;
    padding: var(--pad-small);
    outline: none;
}

#prettifyButton {
    border: none;
    cursor: pointer;
}

.output-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: var(--pad-medium);
    overflow: scroll;
    height: 45vh;
}

pre {
    outline: none;
}

.copyContent {
    cursor: pointer;
    justify-self: end;
}

#output {
    align-self: start;
    height: auto;
}

footer {
    align-self: end;
}

@media (min-width: 760px) {
    .main {
        grid-template-columns: 360px 1fr;
        gap: var(--pad-small) var(--pad-extra-large);
        justify-content: center;
    }

    #input {
        height: 35vh;
    }

    .output-area {
        height: 75vh;
    }
}

/*--------------------------------------------------------------
Toggle
--------------------------------------------------------------*/
.toggle {
    display: grid;
    grid-template-columns: 1fr;
}

.switch input {
    display: none;
}

/* the slider where the circle slides */
.slider {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 32px;
    background-color: var(--colour-default);
    border-radius: 32px;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* circle inside slider */
.slider::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 8px;
    bottom: 4px;
    background-color: var(--colour-light);
    border-radius: 50%;
    transition: transform 0.2s;
}

/* change background colour of switch when checked*/
input:checked + .slider {
    background-color: var(--colour-dark);
}

/* moves the circle to the right when checked*/
input:checked + .slider::before {
    transform: translateX(24px);
}